* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.startContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.myName {
  font-size: 40px;
}
.stefanos {
  font-size: 40px;
}
.show-you {
  font-size: 20px;
}
