* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-container {
  background-color: #100f18;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}
.number1 {
  position: absolute;
  color: #581adf;
  left: 101%;
  top: -10px;
  font-size: 20px;
}
.tetris {
  border: 1px solid #581adf;
  height: 300px;
  margin: 50px;
  position: relative;
  z-index: 3;
  top: 40px;
}
.tetris-line {
  background-color: #581adf;
  height: 2px;
  border: none;
  width: 33%;
  left: 618px;
  position: relative;
  top: -258px;
}
.playTetrisButtom {
  position: relative;
  top: -238px;
  left: 10px;
  z-index: 2;
}
.viewTetrisButton {
  position: relative;
  top: -238px;
  left: 50px;
  z-index: 2;
}
.social-network-container {
  align-self: flex-end;
  height: 338px;
  margin-bottom: 50px;
  position: relative;
  top: -100px;
}
.social-network {
  border: 1px solid #581adf;
  width: 600px;
}
.social-network-line {
  border-left: 2px solid #581adf;
  position: relative;
  top: -12px;
  height: 100%;
  right: -70%;
}
.View-Social-Network-Button {
  position: absolute;
  right: 22%;
  top: 63px;
  z-index: 4;
}
.number2 {
  color: #581adf;
  position: absolute;
  font-size: 20px;
  top: 815%;
}
.image-board-container {
  height: 407px;
  width: 602px;
  margin-bottom: 30px;
  margin-left: 48px;
  position: relative;
  top: -60px;
}
.image-board-line {
  border-left: 2px solid #581adf;
  position: relative;
  height: 80%;
  left: 20%;
  bottom: 190%;
}
.image-board {
  border: 1px solid #581adf;
  width: 600px;
  border-left: 2px solid #581adf;
  position: relative;
}
.View-image-board-Button {
  position: absolute;
  top: -490px;
  z-index: 8;
  left: 10%;
}
.number3 {
  position: absolute;
  top: -276px;
  color: #581adf;
  font-size: 20px;
}
.links {
  color: white;
  text-decoration: none;
}
.resposiveTetrisLine {
  display: none;
}
.resposiveSNetworkLine {
  display: none;
}
.resposiveImageBoard {
  display: none;
}
.descriptionResContainer {
  display: none;
}
@media (max-width: 1008px) {
  .work-container {
    background-color: #100f18;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }
  .number1 {
    position: absolute;
    color: #581adf;
    left: 101%;
    top: -10px;
    font-size: 20px;
    display: none;
  }
  .tetris {
    border: 1px solid #581adf;
    height: 300px;
    position: relative;
    z-index: 3;
    margin: 0;
  }
  .tetris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tetris-line {
    display: none;
  }
  .resposiveTetrisLine {
    width: 10px;
    height: 90px;
    border-left: 2px solid #581adf;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(2870%, -219%);
    z-index: 20;
    display: flex;
  }
  .mainContainer2 {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(-274%, 151%);
    z-index: 4;
  }

  .playTetrisButtom {
    top: -2px;
    left: -220px;
    z-index: 32;
    position: absolute;
  }
  .viewTetrisButton {
    z-index: 32;
    position: absolute;
    top: -38px;
    left: 220px;
  }
  .social-network-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    align-self: center;
    margin-bottom: 50px;
    position: relative;
    top: 75px;
  }
  .social-network {
    border: 1px solid #581adf;
    width: 600px;
  }
  .social-network-line {
    display: none;
  }
  .resposiveSNetworkLine {
    width: 10px;
    height: 90px;
    border-left: 2px solid #581adf;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, 168%);
    z-index: 20;
    display: flex;
  }
  .mainContainer {
    transform: translate(-324px, 315px);
    display: none;
  }
  .descriptionResContainer {
    position: relative;
    width: 250px;
    height: 200px;
    top: 97px;
    right: 10px;
    display: flex;
  }
  .theCardResSN {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  .theCardResSN:hover {
    transform: rotateY(180deg);
  }
  .theFrontResSN {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #100f18;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #581adf;
    border: 1px solid #581adf;
  }
  .theBackResSN {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #100f18;
    border: 1px solid #581adf;
    color: #581adf;
    transform: rotateY(180deg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .View-Social-Network-Button {
    position: absolute;
    right: -236px;
    top: -43px;
    z-index: 4;
  }
  .number2 {
    color: #581adf;
    position: absolute;
    font-size: 20px;
    top: 630%;
    display: none;
  }
  .image-board-container {
    height: 407px;
    width: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0;
    top: 220px;
  }
  .image-board-line {
    border-left: 2px solid #581adf;
    position: relative;
    height: 80%;
    left: 10%;
    bottom: 190%;
    display: none;
  }
  .resMainContainerIB {
    position: relative;
    width: 250px;
    height: 200px;
    top: 293px;
    margin-bottom: 80px;
  }
  .resCardIB {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    background-color: #100f18;
  }
  .resCardIB:hover {
    transform: rotateY(180deg);
  }
  .resFrontIB {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #100f18;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #581adf;
    border: 1px solid #581adf;
  }
  .resBackIB {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #100f18;
    border: 1px solid #581adf;
    color: #581adf;
    transform: rotateY(180deg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-board {
    border: 1px solid #581adf;
    width: 600px;
    border-left: 2px solid #581adf;
    position: relative;
  }
  .resposiveImageBoardLine {
    border-left: 2px solid #581adf;
    width: 10px;
    height: 90px;
    position: absolute;
    top: 390px;
  }
  .mainContainer1 {
    display: none;
  }
  .View-image-board-Button {
    position: absolute;
    top: -43px;
    right: -35px;
    z-index: 38;
  }
  .number3 {
    position: absolute;
    top: -210px;
    color: #581adf;
    font-size: 20px;
    display: none;
  }
  .links {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .tetris-container {
    width: 94%;
  }
  .tetris {
    width: 94%;
  }
  .playTetrisButtom {
    left: -29%;
  }
  .viewTetrisButton {
    left: 28%;
  }

  .resposiveTetrisLine {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-220px, -198px);
  }
  .mainContainer2 {
    transform: translate(-274%, 120%);
    z-index: 78;
  }
  .social-network-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    align-self: center;
    margin-bottom: 50px;
    width: 94%;
    top: -17px;
  }
  .social-network {
    border: 1px solid #581adf;
    width: 600px;
    width: 94%;
  }
  .View-Social-Network-Button {
    position: absolute;
    left: 28%;
  }
  .resposiveSNetworkLine {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-220px, -205px);
  }
  .descriptionResContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -60%);
    z-index: 987;
  }

  .image-board-container {
    height: 407px;
    width: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0;
    width: 94%;
    top: -73px;
  }
  .image-board {
    border: 1px solid #581adf;
    width: 600px;
    border-left: 2px solid #581adf;
    position: relative;
    width: 94%;
  }
  .View-image-board-Button {
    position: absolute;
    left: 28%;
    z-index: 38;
  }
  .resposiveImageBoardLine {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-220px, -239px);
  }
  .resMainContainerIB {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-220px, -144px);
  }
}
.mainContainer {
  position: relative;
  width: 250px;
  height: 200px;
  top: -242px;
  right: -52%;
}
.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.theCard:hover {
  transform: rotateY(180deg);
}
.theFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #100f18;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #581adf;
  border: 1px solid #581adf;
}
.theBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #100f18;
  border: 1px solid #581adf;
  color: #581adf;
  transform: rotateY(180deg);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer1 {
  position: relative;
  width: 250px;
  height: 200px;
  top: -1077px;
  right: 1%;
}
.theCard1 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.theCard1:hover {
  transform: rotateY(180deg);
}
.theFront1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #100f18;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 1px solid #581adf;
  color: #581adf;
}
.theBack1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #100f18;
  border: 1px solid #581adf;
  color: #581adf;
  transform: rotateY(180deg);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer2 {
  position: relative;
  width: 250px;
  height: 165px;
  top: -191px;
  left: 690px;
}
.theCard2 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.theCard2:hover {
  transform: rotateY(180deg);
}
.theFront2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #100f18;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #581adf;
  border: 1px solid #581adf;
}
.theBack2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #100f18;
  border: 1px solid #581adf;
  color: #581adf;
  transform: rotateY(180deg);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
